body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}
.blog{
    margin: 0px 20px;
}
nav > ul> li{
    display: inline;
    margin-right: 10px;

}

nav li > a{
    text-decoration: none;
    color: aqua;
}
/*--main--*/
main > .artical{
    background-color: white;
}

article >header{
    background-color: white;
    text-align: center;
}
img{border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 70%;
    object-fit: contain;
    object-position: top;
    display: flow-root;
    align-items: center;
    margin: auto;

}
.link{
    
    text-align: left;
    font-size: 20px;
}

.link a{
    color: aqua;
    text-decoration: none;
}

.mainFooter{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    background-color: silver;
    padding: 20px;
}